.product-card {
    cursor: pointer;
    max-width: 100%;
    &__image {
        display: flex;
        justify-content: center;
        max-width: 100%;
        overflow: hidden;
    }
    &__content {
        max-width: 100%;
        &__description {
            font-size: 12px;
            user-select: none;
            max-width:100%;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }
    }
}